.countdown {
    background-color: #EDEDED;
    border-radius: 19px;
    // height: 293px;
    margin-top: 243px;

    &-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 92px 92px 81px 92px;
        // height: 293px;
    }

    &-item {
        width: 330px;
        text-align: center;
        position: relative;
    }

    &-item+.countdown-item {
        border-left: 1.5px solid #BBBBBB;

    }

    &-heading {
        font-weight: 600;
        font-size: 6rem;
        line-height: 6rem;
        color: $black-color;
    }

    &-desc {
        font-weight: 500;
        font-size: 2rem;
        margin-top: 44px;
        color: #6C6C6C;
    }
}