* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: $font-main;
    color: $text-color;
    font-weight: 400;
    font-style: normal;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    background-color: $white-color;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

button {
    border: none;
    outline: none;
}